.shot-of-truth {
  margin-top: 56px;
}
.shot-of-truth * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.shot-of-truth .navbar {
  background-color: #f9f1e1 !important;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
.shot-of-truth .super {
  font-size: 72px;
}
.shot-of-truth .bold {
  font-weight: bold;
}
.shot-of-truth h1,
.shot-of-truth h2,
.shot-of-truth h3 {
  color: #5c0ee0;
  font-weight: bold;
}
.shot-of-truth h3,
.shot-of-truth h4 {
  color: #2c0774;
}
.shot-of-truth h5,
.shot-of-truth h6 {
  color: #9c9b9b;
}
.shot-of-truth a {
  color: #5c0ee0;
}
.shot-of-truth a:hover {
  color: #2c0774;
  text-decoration: underline !important;
}
.shot-of-truth .btn {
  display: inline-block;
  padding: 6px 12px;
  min-width: 150px;
  font-weight: bold;
}
.shot-of-truth .btn--primary {
  background-color: #5c0ee0;
  color: #fff;
  border-color: #2c0774;
}
.shot-of-truth .btn--primary:hover {
  color: #fff;
  text-decoration: none !important;
  background-color: #2c0774;
}
.shot-of-truth .btn--light {
  background-color: #f9f1e1;
  border-width: 2px;
  color: #5c0ee0;
  border-color: #5c0ee0;
}
.shot-of-truth .btn--light:hover {
  color: #2c0774;
  text-decoration: none !important;
  background-color: #fff;
}
.shot-of-truth img,
.shot-of-truth svg {
  max-width: 100%;
}
.shot-of-truth .bg-primary-purple {
  background-color: #5c0ee0;
}
.shot-of-truth .bg-primary-indigo {
  background-color: #2c0774;
}
.shot-of-truth .dark-bg h1,
.shot-of-truth .dark-bg h2,
.shot-of-truth .dark-bg h3 {
  color: #fff;
}
.shot-of-truth .dark-bg h3,
.shot-of-truth .dark-bg h4 {
  color: #d1d1d1;
}
.shot-of-truth .dark-bg h5,
.shot-of-truth .dark-bg h6,
.shot-of-truth .dark-bg p,
.shot-of-truth .dark-bg ul li {
  color: #f9f1e1;
}
.shot-of-truth .dark-bg li::before {
  color: #f9f1e1;
}
.shot-of-truth .dark-bg a {
  color: #fff;
}
.shot-of-truth .dark-bg a:hover {
  color: #f9f1e1;
}
.shot-of-truth .card {
  background-color: inherit;
  border: none;
}
.shot-of-truth .card .card-title {
  color: #2c0774;
  font-weight: bold;
}
.shot-of-truth .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.shot-of-truth .u-text-center {
  text-align: center;
}
.shot-of-truth .nowrap {
  white-space: nowrap;
}
.shot-of-truth main ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.shot-of-truth main li {
  padding-left: 1em;
  text-indent: -0.7em;
}
.shot-of-truth main li::before {
  content: "• ";
  font-weight: bold;
  line-height: 1.5;
  color: #2c0774;
}
.shot-of-truth main * + ul {
  margin-top: 12px;
}
.shot-of-truth main ul + * {
  margin-top: 12px;
}
.shot-of-truth main p + p {
  margin-top: 12px;
}
.shot-of-truth main > header {
  padding: 48px 45px;
  margin-bottom: 72px;
}
@media (max-width: 767px) {
  .shot-of-truth main > header {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 24px;
  }
}
.shot-of-truth main > header > p,
.shot-of-truth main > header > h1 {
  max-width: 850px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.shot-of-truth main > header > p {
  font-weight: bold;
}
.shot-of-truth section {
  max-width: 652px;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .shot-of-truth section {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.shot-of-truth section.section-wide {
  max-width: 1200px;
}
.shot-of-truth section:first-child {
  padding-top: 32px;
}
.shot-of-truth section:last-child {
  margin-bottom: 72px;
}
@media (max-width: 767px) {
  .shot-of-truth section:last-child {
    margin-bottom: 24px;
  }
}
.shot-of-truth section + section {
  margin-top: 72px;
}
@media (max-width: 767px) {
  .shot-of-truth section + section {
    margin-top: 48px;
  }
}
.shot-of-truth figcaption {
  color: #2c0774;
}
.shot-of-truth .carousel-item__container {
  height: 500px;
  padding: 56px 16px;
  padding-left: 64px;
  padding-right: 64px;
}
@media (max-width: 991px) {
  .shot-of-truth .carousel-item__container {
    height: 600px;
  }
}
@media (max-width: 575px) {
  .shot-of-truth .carousel-item__container {
    height: 900px;
  }
}
.shot-of-truth .carousel-item__content {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}
.shot-of-truth .home .row img {
  width: 100%;
}
.shot-of-truth .home .jumbotron {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: url('/images/headphone-3200.jpg');
  background-size: cover;
  background-position: center;
}
@media (min-width: 1601px) {
  .shot-of-truth .home .jumbotron {
    background-image: url('/images/headphone-5184.jpg');
  }
}
.shot-of-truth .home .jumbotron .display-3,
.shot-of-truth .home .jumbotron h2,
.shot-of-truth .home .jumbotron p {
  color: #f9f1e1;
}
@media (max-width: 767px) {
  .shot-of-truth .about header {
    text-align: center;
  }
}
.shot-of-truth .hire svg.media-split__img {
  width: 100%;
}
.shot-of-truth .episodes-page {
  padding-top: 46px;
  background-color: #fff;
}
.shot-of-truth .episodes-page > h1 {
  text-align: center;
}
.shot-of-truth .episodes-page .episode-subtitle,
.shot-of-truth .episodes-page .episode-date,
.shot-of-truth .episodes-page .episode-duration {
  color: #2c0774;
}
.shot-of-truth .page-item.active .page-link {
  background-color: #5c0ee0;
  border-color: #2c0774;
}
.shot-of-truth .media-split {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.shot-of-truth .media-split--reverse {
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .shot-of-truth .media-split {
    flex-direction: column-reverse;
  }
}
.shot-of-truth .media-split__img {
  max-width: 50%;
  height: auto;
}
.shot-of-truth .media-split__info {
  max-width: 45%;
}
@media (max-width: 767px) {
  .shot-of-truth .media-split__img,
  .shot-of-truth .media-split__info {
    max-width: 100%;
  }
}
.shot-of-truth .media-split + .media-split {
  margin-top: 72px;
}
@media (max-width: 767px) {
  .shot-of-truth .media-split + .media-split {
    margin-top: 56px;
  }
}
.shot-of-truth .two-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.shot-of-truth .two-up__item {
  max-width: 47.5%;
  margin-top: 24px;
}
@media (max-width: 767px) {
  .shot-of-truth .two-up__item {
    max-width: 100%;
    width: 100%;
  }
}
